th, td {
    border: 1px solid black;
    padding: 10px;
}
th {
    background-color: black;
    color: white;
}
.ascending::after {
    content: " \02191";
}
.descending::after {
    content: " \02193";
}